* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;

}

body {
    background-color: black;

}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.60;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: column;
    color: white;
    position: relative;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.main .seperation {
    background-color: rgb(71, 70, 70);
    height: 7px;
    width: 100%;
}

.btn {
    padding: 3px 8px;
    font-weight: 500;
    color: white;
    background-color: rgba(246, 241, 241, 0.037);
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    padding: 9px 35px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(216, 213, 213, 0.5);
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.hero_buttons {
    padding: 3px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;

}

@media screen and (max-width: 768px) {
    .first {
        flex-wrap: wrap;
    }

    .secimage img {
        width: 305px;


    }

    .secimage video {
        width: 453px;


    }

    .hero> :nth-child(1) {

        font-size: 32px;

    }

    .hero> :nth-child(2) {

        font-size: 18px;

    }

    .hero> :nth-child(3) {

        font-size: 18px;

    }

    nav {
        max-width: 80vw;
    }

    .main input {
        padding: 7px 53px 8px 14px;
    }

    .hero_buttons {
        padding: 3px 24px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-direction: column;
        display: flex;
    }

    .faq h2 {
        text-align: center;
        padding: 20px;
        font-size: 32px;


    }

    footer {
        max-width: 90vw;
    }

    .main .seperation {
        background-color: rgb(71, 70, 70);
        height: 7px;
        width: 100%;
        margin: 4px;
        padding: 0px;

    }


}

.secimage {
    position: relative;

}

.secimage img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secimage video {
    position: absolute;
    right: 19px;
    top: 72px;
    /* width:400px; */
    object-fit: cover;

}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first>div :nth-child(1) {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.first>div :nth-child(2) {
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.faq {
    color: white;
    background-color: black;
    padding: 34px;
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    padding: 20px;


}

.faqbox {
    display: flex;
    font-size: 24px;
    color: white;
    padding: 24px;
    background-color: #2d2d2d;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.faqbox img {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 90px;

}


footer .question {

    /* margin-bottom: 2px 30vw;
    text-align: center; */
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
        max-width: 90vw;
    }



}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer a {
    color: white;
    padding: 5px 0;
    font-size: 14px;
    /* text-decoration: none; */
}